@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #57a7a8;
  --secondary: #ff7e67;
  --background: #f8fbfc;
  --accent: #ffd166;
  --backgroundDark: #030607;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Pulse Circle Animation */
.pulse-circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(87, 167, 168, 0.8) 0%, rgba(87, 167, 168, 0) 70%);
  transform: scale(0);
  animation: pulse 8s ease-out infinite;
  mix-blend-mode: multiply;
  z-index: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0.8;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* Glass Container Styles */
.glass-container {
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.dark .glass-container {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Partial Left Border */
.partial-left-border {
  position: relative; /* Needed for absolute positioning of pseudo-element */
}

.partial-left-border::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px; /* Border width */
  height: 10%; /* Half height */
  background-color: var(--primary); /* Use the primary color */
}

